/* Estilos generales */
body{
    background-color: rgb(231, 238, 240);
}
header{
    width: auto;
    height: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 10px;
    background-color: #0e0e0e;
    color: #fff;

}
a {
    display: inline-block;
    padding: 10px 10px;
    background-color: #243138; 
    color: #fff; 
    text-decoration: none;
}