/* Estilos generales */
body {
    width: 100%;
    height: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #061344;
    overflow-x: hidden; 
}

#encabezado {
    background-color: #097000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.productos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

.producto {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    margin: 10px;
    width: 20%;
}

.producto img {
    max-width: 100%;
}

#pie {
    background-color: #097000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

@media screen and (max-width: 700px) {
    #encabezado {
        background-color: rgb(228, 167, 0);
    }

    #pie {
        background-color: rgb(228, 167, 0);
    }
    .productos {
        flex-direction: column;
        margin-left: -10px; 
        margin-right: -10px; 
    }

    .producto {
        background-color: black;
        color: white;
        width: calc(50% - 20px); 
        margin: 10px auto;
        box-sizing: border-box; 
    }

    nav ul {
        text-align: center;
        padding-top: 20px;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px; 
    }
}
